.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}
.header {
  background-color: rgba(24, 24, 220, 0.9);
  font-weight: bold;
  padding: 10px 0;
}
h1 {
  margin: 0;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}
.movie {
  background-color: rgb(220, 218, 218);
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 15px;
}
.movie img {
  height: 230px;
  width: 100%;
}
